:root{
    --nav-height: 64px;
    
    --nav-fontsize-big: 1.5rem;
    --nav-fontsize-small: 1.2rem;

    --nav-background-color: rgba(3, 8, 34, 0.5);

    --nav-brand-color-primary: rgba(255, 255, 255, 0.85);
    --nav-brand-color-secondary: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 1000px) {
    :root{
        --nav-height: 56px;
        --nav-fontsize-big: 1.2rem;
        --nav-fontsize-small: 0.75rem;
    }
}

.nav-container{
    width: 100%;
    height: var(--nav-height);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--nav-background-color);
    z-index: 100;
}

.nav-inner-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.nav-brand {
    color: var(--nav-brand-color-primary);
    font-size: var(--nav-fontsize-big);
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 12px;
}

.nav-credit{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 12px;
    font-size: var(--nav-fontsize-small);
}

.nav-credit-image{
    height: 32px;
    width: 32px;
    color: var(--nav-brand-color-secondary);
    font-size: var(--nav-fontsize-small);
}

.nav-spacer{
    height: var(--nav-height);
}